streamlit
pydub
deepface
pyAudioAnalysis
janome
vaderSentiment
opencv-python-headless
speechrecognition
tensorflow==2.10.0  # Keras 2.xと互換性があるバージョン
keras==2.10.0        # TensorFlow 2.10.0と互換性があるKerasのバージョン
